<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div> <!-- .site-mobile-menu -->

<!-- NAVBAR -->
<div class="site-navbar mt-3">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="site-logo col-6"><a href="{% url 'index' %}">RMP</a></div>
      <nav class="mx-auto site-navigation">
        {% with request.resolver_match.url_name as url_name %}
        <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
          <li><a href="{% url 'index' %}" class="{% if url_name == 'index' %}nav-link active{% endif %}">Inicio</a></li>
          <li><a href="{% url 'media' %}" class="{% if url_name == 'media' %}nav-link active{% endif %}">Media</a></li>
          <li class="has-children">
            <a href="{% url 'web' %}" class="{% if url_name == 'web' or url_name == 'youtube' or url_name == 'navigation' %}nav-link active{% endif %}">Web</a>
            <ul class="dropdown">
              <li><a href="{% url 'youtube' %}" class="{% if url_name == 'youtube' %}nav-link active{% endif %}">Youtube</a></li>
              <li><a href="{% url 'navigation' %}" class="{% if url_name == 'navigation' %}nav-link active{% endif %}">Navegação</a></li>
            </ul>
          </li>
          <li class="has-children">
            <a href="{% url 'routines' %}" class="{% if url_name == 'routines' or url_name == 'kanban' or url_name == 'financial' %}nav-link active{% endif %}">Rotinas</a>
            <ul class="dropdown">
              <li><a href="{% url 'kanban' %}" class="{% if url_name == 'kanban' %}nav-link active{% endif %}">Kanban</a></li>
              <li><a href="{% url 'financial' %}" class="{% if url_name == 'financial' %}nav-link active{% endif %}">Financeiro</a></li>
            </ul>
          </li>
          <li><a href="{% url 'server' %}" class="{% if url_name == 'server' %}nav-link active{% endif %}">Servidor</a></li>
          <li><a href="{% url 'status' %}" class="{% if url_name == 'status' %}nav-link active{% endif %}">Status</a></li>
          <li class="d-lg-none"><a href="{% url 'login' %}">Log In</a></li>
        </ul>
        {% endwith %}
      </nav>
      <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
        <div class="ml-auto">
          <a href="{% url 'login' %}" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span
              class="mr-2 icon-lock_outline"></span>Log In</a>
        </div>
        <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span
            class="icon-menu h3 m-0 p-0 mt-2"></span></a>
      </div>
    </div>
  </div>
</div>