{% extends '../base.html' %}
{% block content %}
<div>
    Solicitar media tela:
    <button class="btn btn-success">Alterar tela</button>
</div>
<div>
    Media em reprodução: {{ media }}
</div>
<div>
    Lista de reprodução:
    <div>
        <table class="table table-dark media-table">
            <thead>
                <tr>
                    <th>
                        Ordem
                    </th>
                    <th>
                        Nome do arquivo
                    </th>
                    <th>
                        Caminho do arquivo
                    </th>
                    <th>
                        Tipo de arquivo
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for media in media_list %}
                <tr>
                    <td>
                        {{ media.order }}
                    </td>
                    <td>
                        {{ media.name }}
                    </td>
                    <td>
                        {{ media.file_path }}
                    </td>
                    <td>
                        {{ media.file_type }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div>
    Arquivos:
    <div>
        <table class="table table-dark table-hover text-center">
            <thead>
                <tr>
                    <th scope="col">
                        Nome do arquivo
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for file in media_files %}
                <tr >
                    <td>
                        {{ file }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <input class="btn btn-primary" type="button" value="Adicionar" />
    </div>
</div>
<div>
    Controles:
    <div>
        <input class="btn btn-primary" type="button" value="Play" />
        <input class="btn btn-primary" type="button" value="Pause" />
    </div>
</div>
{% endblock %}